body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #111 url('assets/BG.svg') no-repeat center top / cover;
}

.Home {
    position: relative;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
    text-align: center;
    color: #fff;
}

.Home p {
    font-size: 10px;
}

.About {
    position: relative;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
    text-align: center;
    color: #fff;
}

.Contact {
    position: relative;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
    text-align: center;
    color: #fff;
}
