body, * {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
    outline: none !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #111 url('assets/BG.ssvg') no-repeat center top / cover;
}

.About {
    opacity: 0;
    transition: all 1s;
}

.show {
    opacity: 1;
}

.cassia-logo {
    overflow-x: hidden;
    position: absolute;
    top: -510px;
    left: 50%;
    transform: translateX(-50%) scale(0.05);
    z-index: 10;
    cursor: pointer;
}

.Home {
    position: relative;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 200px 20vw;
    text-align: center;
    color: #fff;
    transform: scale(1.5);
}

.Home p {
    font-size: 10px;
}

.Home button {
    font-size: 10px;
    margin-top: 10px;
    border-radius: 9999px;
    width: 70px;
    height: 20px;
    border: none;
    background-color: #fff;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.Home button:active {
    background-color: #FF9579;
}

.About {
    position: relative;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
    text-align: center;
    color: #fff;
}

.About h1{
    color: #fff;
    font-size: 30px;
}

.About h2{
    margin: 10px;
    position: relative;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #FF9579;
    font-size: 16px;
}

.About p {
    color: #fff;
}

.About a {
    color: #FF8065    ;
    text-decoration: solid;
}


.Contact {
    position: relative;
    flex-direction: column;
    align-items: center;
    min-height: 150px;
    padding: 20px 20vw;
    text-align: center;
    color: #fff;
}

.Contact img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.05);
    z-index: 10;
    cursor: pointer;
}

.footer-team h6{
    max-width: 100%;
    text-align: center;
    color: #fff;
    margin: 10px;
}
